.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 55px;
    padding: 20px;
    color: white;
}

.justify-content-center {
    justify-content: center;
}


/* add grid so that you dont need mediaq */

/* add footer css */